<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Vartotojo registracija</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <h2>Įveskite duomenis</h2>
    <br>
    <form th:action="@{/registracijos_patvirtinimas}" th:object="${vartotojas}" method="POST">
        <input th:field="*{vardas}" type="text" placeholder="Vardas" class="form-control mb-4 col-4">
        <input th:field="*{pavarde}" type="text"  placeholder="Pavardė" class="form-control mb-4 col-4">
        <input th:field="*{elpastas}" type="text"  placeholder="El. Paštas" class="form-control mb-4 col-4">
        <input th:field="*{username}" type="text"  placeholder="Username" class="form-control mb-4 col-4">
        <input th:field="*{password}" type="password"  placeholder="Slaptažodis" class="form-control mb-4 col-4">
        <br>
        <input type="submit" value="Patvirtinti" class="btn btn-info col-2">
    </form>
</div>

    <hr>

    <a th:href="@{/}"> Grįžti atgal</a>
</div>
</body>
</html>